{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

{% if name %}
	<h1>User Added!</h1>
	<br/><br/>
<table class="table table-hover table-bordered table-striped">

{% for our_user in our_users %}
	<tr>
	<td>{{ our_user.id }}. <a href="{{ url_for('update', identifier=our_user.id)}}">{{ our_user.username }}</a> - {{ our_user.email }} -
		<a href="{{ url_for('delete', identifier=our_user.id)}}">Delete</a></td>
	</tr>
{% endfor %}

</table>
	

{% else %}
	<h1>User Information:</h1>
	<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.username.label(class="form-label") }}

		{{ form.username(class="form-control") }}
		<br/>

		{{ form.email.label(class="form-label") }}

		{{ form.email(class="form-control") }}

		<br/>
		
		{{ form.password_hash.label(class="form-label") }}

		{{ form.password_hash(class="form-control") }}
		<br/>

		{{ form.password_hash2.label(class="form-label") }}

		{{ form.password_hash2(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-secondary") }}


	</form>
</div>
<br/><br/><br/>
<table class="table table-hover table-bordered table-striped">

{% for our_user in our_users %}
	<tr>
	<td>{{ our_user.id }}. <a href="{{ url_for('update', identifier=our_user.id)}}">{{ our_user.username }}</a> - {{ our_user.email }}  -
	PW: {{ our_user.password_hash }} - 
	<a href="{{ url_for('delete', identifier=our_user.id)}}">Delete</a></td>
	</tr>
{% endfor %}

</table>
{% endif %}

{% endblock %}