{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

	<h2>Dashboard</h2>
	<br/>

	<div class="card">
  <div class="card-body">
   
    <p class="card-text">

<div class="container">
	<div class="row">
		<div class="col-8">

	<strong>Username:</strong>
	{{ current_user.username }}<br/>

	<strong>Email:</strong>
	{{ current_user.email }}<br/>


    </p>
    <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>

    <a href="{{ url_for('delete', identifier=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
    <br/><br/>

	</div>
	</div>
	</div>


  </div>
</div>
	

<br/>

<div class="card">
  <div class="card-header">
    Update Profile
  </div>
  <div class="card-body">

  	<form action="/dashboard" method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		{{ form.username.label(class="form-label") }}

		{{ form.username(class="form-control", value=name_to_update.username) }}
		<br/>

		{{ form.email.label(class="form-label") }}

		{{ form.email(class="form-control", value=name_to_update.email) }}
		<br/>
		
		{{ form.submit(class="btn btn-secondary btn-sm") }}
			
	</form>

</div>


</div>

{% endblock %}