{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<br/>
<h2>Edit Post...</h2>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.title.label(class="form-label") }}

		{{ form.title(class="form-control") }}
		<br/>

		{{ form.slug.label(class="form-label") }}

		{{ form.slug(class="form-control") }}
		<br/>
		
		{{ form.content.label(class="form-label") }}

		{{ form.content(class="form-control", rows="10") }}
		<br/>

		
		{{ form.submit(class="btn btn-secondary") }}


	</form>
	{{ ckeditor.load() }}
 	{{ ckeditor.config(name='content') }}

	
</div>

<a href="{{ url_for('posts')}}" class="btn btn-outline-secondary btn-sm">Back To Blog</a>





{% endblock %}