<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Wiki</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard')}}">Main page</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_user')}}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">Log in</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_post')}}">Add Content</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('posts')}}">Contents</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>