{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<br/>
{% for post in posts %}
<div class="shadow p-3 mb-5 bg-body rounded">
	<h2><a href="{{ url_for('post', identifier=post.id)}}">{{ post.title }}</a></h2>
	<small>By: {{ post.post.username }} </small>
	{{ post.content|safe }}
	<br/><br/>
	<a href="{{ url_for('post', identifier=post.id)}}" class="btn btn-outline-secondary btn-sm">View Post</a>
	{% if post.user_id == current_user.id%}
	<a href="{{ url_for('edit_post', identifier=post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>

	<a href="{{ url_for('delete_post', identifier=post.id)}}" class="btn btn-outline-danger btn-sm">Delete Post</a>

	{% endif %}

	<br/><br/>
</div>
<br/>
{% endfor %}

{% endblock %}