{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
	<h2>{{ post.title }}</h2>
	<small>By: {{ post.post.username }}<br/>
	{{ post.slug }}</small>
	{{ post.content|safe }}<br/><br/>

	
<div class="card mb-3">
	<div class="row no-gutters">
		<div class="col-md-10">
			<div class="card-body">
			</div>
		</div>
	</div>
</div>

</div>

{% if post.user_id == current_user.id %}

	<a href="{{ url_for('edit_post', identifier=post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
	<a href="{{ url_for('delete_post', identifier=post.id)}}" class="btn btn-outline-danger btn-sm">Delete Post</a>


{% endif %}

<a href="{{ url_for('posts')}}" class="btn btn-outline-secondary btn-sm">Back To Blog</a>


{% endblock %}